/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('http://globalvision.name/resorses/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('http://globalvision.name/resorses/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('http://globalvision.name/resorses/HelveticaNeueCyr/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('http://globalvision.name/resorses/HelveticaNeueCyr/helveticaneuecyr-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {font-family: "HelveticaNeueLT";
  src: url("http://globalvision.name/resorses/HelveticaNeueLT/4bfcbca43f8e9ab6573aff70d9d3d39c.eot");
  src: url("http://globalvision.name/resorses/HelveticaNeueLT/4bfcbca43f8e9ab6573aff70d9d3d39c.eot?#iefix") format("embedded-opentype"),
  url("http://globalvision.name/resorses/HelveticaNeueLT/4bfcbca43f8e9ab6573aff70d9d3d39c.woff2") format("woff2"), 
  url("http://globalvision.name/resorses/HelveticaNeueLT/4bfcbca43f8e9ab6573aff70d9d3d39c.woff") format("woff"),
  url("http://globalvision.name/resorses/HelveticaNeueLT/4bfcbca43f8e9ab6573aff70d9d3d39c.ttf") format("truetype"),
  url("http://globalvision.name/resorses/HelveticaNeueLT/4bfcbca43f8e9ab6573aff70d9d3d39c.svg#HelveticaNeueCyr LT Com 35 Thin") format("svg");
}
body {
	font-family: 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
}
.hidden-menu {
  display: block;
  float: left;
  position: absolute;
  list-style:none;
  padding: 50px 0 0 0;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  width: 195px;
  background-color: #1e1e1e;
  max-height: 245px;
  height: 100%;
  top: 0;
  left: -250px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  li { 
  	margin: 15px auto;

	  .add-client-button {
	  	width: 147px;
	  	height: 38px;
	  	display: block;
	  	margin: 0 auto;
	  	padding: 0;
	  	border-radius: 4px;
	  	overflow: hidden;
	  	background-color: #f70036;
	  	color: #fff;

	  	.fa-plus {
		    display: inline-block;
		    font-weight: 300;
		    margin: 0 0 0 5px;
		    font-size: 18px;
		    padding: 0;
	    }
	    .sign-title {
		    font-size: 18px;
	    }

	  }
  	a {
  		display: block;
	    font-family: 'HelveticaNeue', 'Arial', sans-serif;
	    color: #818181;
		font-size: 18px;
		font-weight: 400;
	    vertical-align: middle;
	    text-align: center;
	  	line-height: 38px;
	  	text-decoration: none;
	  	vertical-align: middle;

	  	&:hover {
	  		text-decoration: none;
	  	}
  	}
  	.sign-out-btn {
	    display: block;
	    width: 115px;
  		height: 38px;
	    margin: 0 auto;
	    vertical-align: middle;
	    line-height: 38px;
	    border: 1px solid #2c2c2c;

	    img {
	    	vertical-align: middle;
	    }
  	}
  }
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  background-color: #1e1e1e;
  padding: 5px;
  position: relative;
  float: left;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 30px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 145px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
.back-button {
		float: left;
    	margin: 10px 0 0 25px;
		color: #fff;
		font-size: 18px;
		font-weight: 400;
		line-height: 18px;
	}
/*end menu*/
/*dropdown filter*/
    .filter-block {
        float: right;
        margin: 5px 10px 0 0;
        line-height: 33px;
        vertical-align: middle;

        img {
        	display: inline-block;
			line-height: 33px;
			vertical-align: middle;
        }
    }
    #sidebar form input[type='submit'] {
        display: block;
        width: 51px;
        height: 41px;
        float: right;
        border: none;
        margin: 20px 20px 16px 20px;
        font-size: 16px;
        font-family: Arial, Helvetica, Sans Serif;
        color: #FFFFFF;
        background-color: #f70036;
        border-radius: 2px 3px 3px 2px;
    }
    .add-client {
	    display: inline-block;
		width: 30px;
		height: 26px;
		margin: 4px 10px 0 0;
		background-color: #f70036;
		border-radius: 0;
		overflow: hidden;
		color: #fff;
		line-height: 26px;
		text-align: center;
    }
    #sidebar {
        height:185px;
        background:#1e1e1e;
        width:203px;
        clear:none;
        float: right;
        position: absolute;
        top: 36px;
        right: 0;
        z-index: 2;
    }
    label {color: #fff; float:right; cursor: pointer;}
    input{display:none;}
    input:checked+#sidebar{display:none;}
    /*end dropdown filter*/
header {
	height: 47px;
	box-sizing: border-box;
	background-color: #1e1e1e;

	.logo {
		float: left;
	    max-width: 20px;
	    max-height: 20px;
	    margin: 7px 0 0 25px;
		overflow: hidden;
		color: #fff;
		font-family: 'HelveticaNeueLT', sans-serif;
		font-size: 22px;
		font-weight: 100;
		line-height: 17px;
		text-decoration: none;

		img {
			max-width: 100%;
		}
	}
	.filter-button {
		display: block;
	    width: 51px;
	    height: 41px;
	    float: right;
	    border: none;
	    margin: 0 17px 16px 0;
	    font-size: 16px;
	    font-family: Arial, Helvetica, Sans Serif;
	    color: #FFFFFF;
	    text-align: center;
	    line-height: 41px;
	    background-color: #f70036;
	    border-radius: 2px 3px 3px 2px;
	}
}
.table-content {
	/* заставить таблицу не быть таблицей */
    table, thead, tbody, th, td, tr {
        display: block;
        margin-top: 0;
    }

    /* Спрятать хэдер таблицы (но не display: none;,для доступности) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
    	padding: 8px 5px 5px;
    	overflow: hidden;
		clear: both; 
    	border-bottom: 1px solid #adadad;
    	&:nth-child(1) {
    		td {
    			&:nth-child(4) {
    				color: #f70039;
					font-size: 18px;
					font-weight: 700;
					line-height: 18px;
    			}
    		}
    	}
    	&:nth-child(2) {
    		td {
    			&:nth-child(4) {
    				color: #818181;
					font-size: 18px;
					font-weight: 700;
					line-height: 18px;
    			}
    		}
    	}
    	&:nth-child(3) {
    		td {
    			&:nth-child(4) {
    				color: #27a600;
    				font-size: 18px;
					font-weight: 700;
					line-height: 18px;
    			}
    		}
    	}
	}

    td {
        /* Вести себя как "row" */
    	float: left;
    	height: 30px;
    	vertical-align: middle;
    	line-height: 30px;
    	text-align: left;
        border: none;
        position: relative;
        &:nth-child(1) {
        	width: 3%;
        	color: #4b4b4b;
			font-size: 18px;
			font-weight: 400;
			line-height: 18px;
        }
        &:nth-child(2) {
        	width: 93%;
        	padding-left: 5px;
        	color: #515151;
			font-size: 18px;
			font-weight: 400;
			line-height: 18px;
        }
        @media (min-width: 360px) {
        	&:nth-child(2) {
        	padding-left: 0;
        }
        }
        &:nth-child(3) {
        	width: 100%;
        	color: #4b4b4b;
			font-size: 18px;
			font-weight: 400;
			line-height: 18px;
        }
        &:nth-child(4) {
        	width: 70%;
        }
        &:nth-child(5) {
        	float: right;
        	text-align: right;
        	width: 25%;
        }
        &:nth-child(3),
        &:nth-child(4) {
			padding-left: 15px;
      }
    }
    #comments-button {
    	display: inline-block;
    	width: 29px;
    	height: 26px;
	    margin-right: 13px;
    	transition: all ease-in-out .3s;
    	background: url('../images/comment.png') no-repeat;

    	&:hover {
    		background: url('../images/comment-hover.png') no-repeat;

    	}
    }
    #edit-button {
    	display: inline-block;
    	width: 28px;
    	height: 28px;
    	transition: all ease-in-out .3s;
    	background: url('../images/icon-cross.png') no-repeat;

    	&:hover {
    		background: url('../images/icon-cross-hover.png') no-repeat;

    	}
    }
}
// ncms_mobile_information
.info-content {

	.wrapper {
		padding-bottom: 40px;
	}
	/* заставить таблицу не быть таблицей */
    table, thead, tbody, th, td, tr {
        display: block;
        margin-top: 0;
    }
    @media (min-width: 360px) {
    	.table-info-content {
    		border: 1px solid #adadad;
    	}
    }

	.table-info-content {
		// float: left;
		overflow: hidden;
		max-width: 348px;
		width: 100%;
		margin: 0 auto;
		
		.ui.labeled.icon.buttons .button, .ui.labeled.icon.button {
		    clear: both;
		    display: block;
		    width: 167px !important;
			height: 43px !important;
			background-color: white !important;
			border: 0.86px solid #c6c6c6 !important;
			border-radius: 1px !important;
			color: #5b5b5b !important;
			font-size: 18px !important;
			font-weight: 400 !important;
			line-height: 18px !important;
		    position: relative;
		    padding-left: 4.07142857em !important;
		    padding-right: 1.5em !important;
		}
		.ui.labeled.icon.buttons > .button > .icon, .ui.labeled.icon.button > .icon {
			background: none !important;
		}
		.ui.dropdown > .text {
		    margin-left: -25px !important;
	    }

	    .select-status {
	    	.ui.labeled.icon.buttons .button, .ui.labeled.icon.button {
		    	width: 111px !important;
				height: 43px !important;
				background-color: #fff !important;
				border-radius: 1px !important;
		    }
		    .ui.dropdown > .text {
			    margin: -10px 0 0 -60px !important;
			}
	    }
	    .icon .plus,
	    .icon .checkmark,
	    .icon .minus,
	    .icon .remove {
	     	    margin-left: 0em;
			    font-size: 21px;
			    font-weight: 700;
			    line-height: 22px;
			    float: none;
			    margin-right: 0.71428571rem;
	     }
	    .icon .plus {
		    color: #1e94d2;
		}
	    .icon .checkmark {
	    	color: #37d21e;
	    }
	    .icon .minus,
	    .icon .remove {
	    	color: #f70039;
	    }
	}
    /* Спрятать хэдер таблицы (но не display: none;,для доступности) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
    	// overflow: hidden;
		clear: both; 
    	border-bottom: 1px solid #adadad;
    	&:nth-child(1),
    	&:nth-child(2) {
    		color: #f7003b;	
			font-size: 18px;
			font-weight: 400;
			line-height: 18px;
    	}
		&:nth-child(3),
    	&:nth-child(4) {
    		color: #5b5b5b;
			font-size: 18px;
			font-weight: 400;
			line-height: 18px;
    	}
    	&:nth-child(5) {
    		color: #5b5b5b;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
    	}
    	&:nth-child(6) {
    		td {
    			padding-left: 0;
    			&:nth-child(1) {
    				float: left;
    				width: 60%;
    			}
    			&:nth-child(2) {
    				float: right;
    				width: 40%;
    				clear: none;
    			}
    		}
    	}
    	&:nth-child(7) {
    		td {
    			width: 100%;
    			height: auto;

    			.recomended {
    				margin: 0 0 7px 0;
    				color: #434343;
					font-size: 22px;
					font-weight: 400;
					line-height: 18px;
    			}
    			.recomended-text {
    				max-width: 560px;
    				width: 100%;
    				max-height: 145px;
					height: auto;
					padding: 10px;
					background-color: white;
					border: 0.86px solid #c6c6c6;
					border-radius: 2px;
					resize: none;
    			}
    		}
    	} 
    	&:nth-child(8) {
    		.call-back-date {
    			color: #363636;
				font-size: 22px;
				font-weight: 400;
				line-height: 18px;
    		}
    		.fa-calendar {
    			display: inline-block;
    			margin-left: 13px;
    			color: #848484;
				font-size: 27px;
				font-weight: 400;
				line-height: 27px;
    		}
    	}
    	&:nth-child(9) {
    		.date {
    			display: block;
    			margin: 0 auto;
    			width: 288px;
				height: 32px;
				background-color: #e8e8e8;
				border: 0.53px solid #909090;
				border-radius: 7px;
				color: #f70039;
				font-size: 18px;
				text-align: center;
				font-weight: 700;
				line-height: 32px;
    		}
    	}
    }
    td {
    	float: left;
    	clear: both;
    	padding: 12px 5px 8px 15px;
    }
}
.info-block {
	float: right;
	color: #fff;
	width: 85px;
	height: 100%;
	vertical-align: middle;
	line-height: 100%;

	a {
		display: inline-block;
		line-height: 47px;
		text-align: center;
		text-decoration: none;
		color: #fff;

		&:hover {
			text-decoration: none;
		}

		.fa {
			font-size: 23px;
			margin-right: 17px;
		}
		.fa-info {
			margin: 0 25px 0 0;
		}
	}
}
.fancybox-block {
	max-width: 320px;
	padding: 5px;
	height: 250px;
	margin: 0 auto 30px;

	img {
		max-width: 100%;
		height: auto;
		cursor: pointer;
	}
	.upload-img-block {
	    width: 100%;
	    height: 200px;
	    margin-bottom: 20px;
	    overflow: hidden;
	}
	.fancybox {
		cursor: pointer;
	}

	.fancybox-type-iframe {
		.fancybox-nav {
		    width: 60px; 

		    span {
			    visibility: visible;
			    opacity: 0.5;

			    &:hover span {
				    opacity: 1;
				}
			}      
		}
		.fancybox-next {
		    right: -60px;
		}
		.fancybox-prev {
		    left: -60px;
		}
	}
	.upload-img {
		background-color: #232323;
	    border-radius: 2px;
	    height: 38px;
	    padding: 10px 15px;
	    width: 139px;
	    text-align: center;
	    color: #fff;
	    text-transform: uppercase;
	    text-decoration: none;
	}
}
// ncms_mobile_comments
.comments-content {

	.wrapper {
		padding: 0 15px;
	}

	.comments-icon {
		float: right;
		margin: 16px 10px 18px 0;
		.fa {
			color: #848484;
		    font-size: 26px;
		    font-weight: 400;
		    line-height: 22px;
		}
	}
	.comments-main-field {
		max-width: 798px;
		width: 100%;
		margin: 0 auto;

		.comment-form {
			.comments-field {
				width: 100%;
				height: 175px;
				border: 0.92px solid #c6c6c6;
				border-radius: 1px;
				resize: none;
			}
			.send-button {
				display: block;
				float: right;
				border: none;
				background: none;
				margin: 13px 0 26px 0;
				color: #f7003a;
				font-size: 22px;
				font-weight: 400;
				line-height: 18px;
				cursor: pointer;
			}
		}
	}
	.comment-list {
		clear: both;

		li {
			margin-bottom: 30px;
			.project-info {
				margin: 0 0 15px 0;
				.user-name {
					float: left;
					width: 55%;
					font-weight: 400;
					line-height: 18px;
					color: #2b2b2b;
					font-size: 22px;
				}
				.comment-time {
					float: right;
					width: 44%;
					font-weight: 400;
					line-height: 18px;
					color: #2694d1;
					font-size: 16px;
					text-align: right;
				}
			}
			.comment-action {
				clear: both;
				float: left;
				width: 100%;
				margin: 15px 0;

				.thumb-tack,
				.star-o {
					display: inline-block;
					width: 26px;
					height: 26px;
					margin-left: 11px;
					transition: all ease-in-out .3s;
				}
				.thumb-tack {
					background: url('../images/pin.png') no-repeat;
					&:hover {
						background: url('../images/pin-hover.png') no-repeat;
					}
				}
				.star-o {
					background: url('../images/star.png') no-repeat;
					&:hover {
						background: url('../images/star-hover.png') no-repeat;
					}
				}
			}
			@media (min-width: 870px) {
				.comment-text {
					width: 98% !important;
				}
			}
			.comment-text {
				clear: both;
				overflow: hidden;
				width: 94%;
				height: auto;
				padding: 18px 14px 19px 12px;
				background-color: #fff;
				border: 0.92px solid #c6c6c6;
				border-radius: 1px;
				color: #6c6c6c;
				font-size: 18px;
				font-weight: 400;
				line-height: 25px;
			}
			.light-grayish-orange {
				background-color: #fef1e8;
			}
			.light-grayish-blue {
				background-color: #dbeaf8;
			}
			.very-light-gray {
				background-color: #f2f2f2;
			}
		}
	}
}