@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("http://globalvision.name/resorses/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.woff2") format("woff2"), url("http://globalvision.name/resorses/HelveticaNeueCyr/helveticaneuecyr-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("http://globalvision.name/resorses/HelveticaNeueCyr/helveticaneuecyr-roman-webfont.woff2") format("woff2"), url("http://globalvision.name/resorses/HelveticaNeueCyr/helveticaneuecyr-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueLT";
  src: url("http://globalvision.name/resorses/HelveticaNeueLT/4bfcbca43f8e9ab6573aff70d9d3d39c.eot");
  src: url("http://globalvision.name/resorses/HelveticaNeueLT/4bfcbca43f8e9ab6573aff70d9d3d39c.eot?#iefix") format("embedded-opentype"), url("http://globalvision.name/resorses/HelveticaNeueLT/4bfcbca43f8e9ab6573aff70d9d3d39c.woff2") format("woff2"), url("http://globalvision.name/resorses/HelveticaNeueLT/4bfcbca43f8e9ab6573aff70d9d3d39c.woff") format("woff"), url("http://globalvision.name/resorses/HelveticaNeueLT/4bfcbca43f8e9ab6573aff70d9d3d39c.ttf") format("truetype"), url("http://globalvision.name/resorses/HelveticaNeueLT/4bfcbca43f8e9ab6573aff70d9d3d39c.svg#HelveticaNeueCyr LT Com 35 Thin") format("svg");
}
/*menu*/
/* line 82, ../sass/main_style.scss */
.hidden-menu {
  display: block;
  position: fixed;
  list-style: none;
  padding: 50px 0 0 0;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  width: 195px;
  background-color: #1e1e1e;
  max-height: 245px;
  height: 100%;
  top: 0;
  left: -200px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
/* line 101, ../sass/main_style.scss */
.hidden-menu li {
  margin: 15px auto;
}
/* line 104, ../sass/main_style.scss */
.hidden-menu li .add-client-button {
  width: 147px;
  height: 38px;
  display: block;
  margin: 0 auto;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f70036;
  color: #fff;
}
/* line 115, ../sass/main_style.scss */
.hidden-menu li .add-client-button .fa-plus {
  display: inline-block;
  font-weight: 300;
  margin: 0 0 0 5px;
  font-size: 18px;
  padding: 0;
}
/* line 122, ../sass/main_style.scss */
.hidden-menu li .add-client-button .sign-title {
  font-size: 18px;
}
/* line 127, ../sass/main_style.scss */
.hidden-menu li a {
  display: block;
  font-family: 'HelveticaNeue', 'Arial', sans-serif;
  color: #818181;
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;
  text-align: center;
  line-height: 38px;
  text-decoration: none;
  vertical-align: middle;
}
/* line 139, ../sass/main_style.scss */
.hidden-menu li a:hover {
  text-decoration: none;
}
/* line 143, ../sass/main_style.scss */
.hidden-menu li .sign-out-btn {
  display: block;
  width: 115px;
  height: 38px;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 38px;
  border: 1px solid #2c2c2c;
}
/* line 152, ../sass/main_style.scss */
.hidden-menu li .sign-out-btn img {
  vertical-align: middle;
}

/* line 158, ../sass/main_style.scss */
.hidden-menu-ticker {
  display: none;
}

/* line 161, ../sass/main_style.scss */
.btn-menu {
  color: #fff;
  background-color: #1e1e1e;
  padding: 5px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

/* line 175, ../sass/main_style.scss */
.btn-menu span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}

/* line 183, ../sass/main_style.scss */
.btn-menu span.first {
  margin-top: 0;
}

/* line 186, ../sass/main_style.scss */
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 160px;
}

/* line 189, ../sass/main_style.scss */
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}

/*end menu*/
/*dropdown filter*/
/* line 194, ../sass/main_style.scss */
.filter-block {
  float: right;
  margin: 5px 10px 0 0;
}

/* line 198, ../sass/main_style.scss */
#sidebar form input[type='submit'] {
  display: block;
  width: 51px;
  height: 41px;
  float: right;
  border: none;
  margin: 20px 20px 16px 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, Sans Serif;
  color: #FFFFFF;
  background-color: #f70036;
  border-radius: 2px 3px 3px 2px;
}

/* line 211, ../sass/main_style.scss */
.add-client {
  display: inline-block;
  width: 30px;
  height: 26px;
  margin: 4px 10px 0 0;
  background-color: #f70036;
  border-radius: 0;
  overflow: hidden;
  color: #fff;
  line-height: 26px;
  text-align: center;
}

/* line 223, ../sass/main_style.scss */
#sidebar {
  height: 185px;
  background: #1e1e1e;
  width: 203px;
  clear: none;
  float: right;
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 2;
}

/* line 234, ../sass/main_style.scss */
label {
  color: #fff;
  float: right;
}

/* line 235, ../sass/main_style.scss */
input {
  display: none;
}

/* line 236, ../sass/main_style.scss */
input:checked + #sidebar {
  display: none;
}

/*end dropdown filter*/
/* line 241, ../sass/main_style.scss */
header {
  height: 47px;
  box-sizing: border-box;
  background-color: #1e1e1e;
}
/* line 246, ../sass/main_style.scss */
header .logo {
  float: left;
  max-width: 20px;
  max-height: 20px;
  margin: 7px 0 0 50px;
  overflow: hidden;
  color: #fff;
  font-family: 'HelveticaNeueLT', sans-serif;
  font-size: 22px;
  font-weight: 100;
  line-height: 17px;
  text-decoration: none;
}
/* line 259, ../sass/main_style.scss */
header .logo img {
  max-width: 100%;
}
/* line 263, ../sass/main_style.scss */
header .filter-button {
  display: block;
  width: 51px;
  height: 41px;
  float: right;
  border: none;
  margin: 0 17px 16px 0;
  font-size: 16px;
  font-family: Arial, Helvetica, Sans Serif;
  color: #FFFFFF;
  text-align: center;
  line-height: 41px;
  background-color: #f70036;
  border-radius: 2px 3px 3px 2px;
}

/* line 279, ../sass/main_style.scss */
.table-content {
  /* ╨╖╨░╤Б╤В╨░╨▓╨╕╤В╤М ╤В╨░╨▒╨╗╨╕╤Ж╤Г ╨╜╨╡ ╨▒╤Л╤В╤М ╤В╨░╨▒╨╗╨╕╤Ж╨╡╨╣ */
  /* ╨б╨┐╤А╤П╤В╨░╤В╤М ╤Е╤Н╨┤╨╡╤А ╤В╨░╨▒╨╗╨╕╤Ж╤Л (╨╜╨╛ ╨╜╨╡ display: none;,╨┤╨╗╤П ╨┤╨╛╤Б╤В╤Г╨┐╨╜╨╛╤Б╤В╨╕) */
}
/* line 281, ../sass/main_style.scss */
.table-content table, .table-content thead, .table-content tbody, .table-content th, .table-content td, .table-content tr {
  display: block;
  margin-top: 0;
}
/* line 287, ../sass/main_style.scss */
.table-content thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/* line 293, ../sass/main_style.scss */
.table-content tr {
  padding: 8px 5px 5px;
  overflow: hidden;
  clear: both;
  border-bottom: 1px solid #adadad;
}
/* line 300, ../sass/main_style.scss */
.table-content tr:nth-child(1) td:nth-child(4) {
  color: #f70039;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
/* line 310, ../sass/main_style.scss */
.table-content tr:nth-child(2) td:nth-child(4) {
  color: #818181;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
/* line 320, ../sass/main_style.scss */
.table-content tr:nth-child(3) td:nth-child(4) {
  color: #27a600;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
/* line 330, ../sass/main_style.scss */
.table-content td {
  /* ╨Т╨╡╤Б╤В╨╕ ╤Б╨╡╨▒╤П ╨║╨░╨║ "row" */
  float: left;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  text-align: left;
  border: none;
  position: relative;
}
/* line 339, ../sass/main_style.scss */
.table-content td:nth-child(1) {
  width: 3%;
  color: #4b4b4b;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
/* line 346, ../sass/main_style.scss */
.table-content td:nth-child(2) {
  width: 93%;
  padding-left: 5px;
  color: #515151;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
/* line 354, ../sass/main_style.scss */
.table-content td:nth-child(3) {
  width: 100%;
  color: #4b4b4b;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
/* line 361, ../sass/main_style.scss */
.table-content td:nth-child(4) {
  width: 70%;
}
/* line 364, ../sass/main_style.scss */
.table-content td:nth-child(5) {
  float: right;
  text-align: right;
  width: 25%;
}
/* line 369, ../sass/main_style.scss */
.table-content td:nth-child(3), .table-content td:nth-child(4) {
  padding-left: 15px;
}
/* line 374, ../sass/main_style.scss */
.table-content #comments-button {
  display: inline-block;
  width: 29px;
  height: 26px;
  margin-right: 13px;
  transition: all ease-in-out .3s;
  background: url("../images/comment.png") no-repeat;
}
/* line 382, ../sass/main_style.scss */
.table-content #comments-button:hover {
  background: url("../images/comment-hover.png") no-repeat;
}
/* line 387, ../sass/main_style.scss */
.table-content #edit-button {
  display: inline-block;
  width: 28px;
  height: 28px;
  transition: all ease-in-out .3s;
  background: url("../images/icon-cross.png") no-repeat;
}
/* line 394, ../sass/main_style.scss */
.table-content #edit-button:hover {
  background: url("../images/icon-cross-hover.png") no-repeat;
}
